.jumbotron {
  background: peru;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
}

a {
  color: peru;
  &:hover{
    color: purple;
  }
}

img {
  width: 40%;
  margin-bottom: 10px;
}

.btn-info {
  float: left;
  margin-right: 10px;
}
